examples/Sequence Detector Example.json
[{"id":"98ca121.f9346f","type":"tab","label":"Sequence Detector Example","disabled":false,"info":""},{"id":"ea7a3b66.7353f8","type":"debug","z":"98ca121.f9346f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":220,"wires":[]},{"id":"5293627c.df218c","type":"inject","z":"98ca121.f9346f","name":"1","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":200,"wires":[["a3027ab5.3e25e8"]]},{"id":"d98e5fdb.c2fcc","type":"inject","z":"98ca121.f9346f","name":"2","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":240,"wires":[["a3027ab5.3e25e8"]]},{"id":"a3027ab5.3e25e8","type":"sequence-detector","z":"98ca121.f9346f","name":"Sequence Detector","watch":"payload","sequence":"1\n2\n1\n1","x":590,"y":220,"wires":[["ea7a3b66.7353f8"],["ea7a3b66.7353f8"]]},{"id":"a7793c04.7075b","type":"comment","z":"98ca121.f9346f","name":"Instructions","info":"Enter the sequence 1211 using the inject nodes and look at the debug output.\nThen trying entering 122 to demonstrate a mismatch.","x":270,"y":120,"wires":[]}]